<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555570638780-f6oen4g9mpkl0e3m4ph71cjt95fs9680.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555570638780-f6oen4g9mpkl0e3m4ph71cjt95fs9680</string>
	<key>API_KEY</key>
	<string>AIzaSyD2pH0XYCOieJpbpLgoRolGMCl2kQoKTGw</string>
	<key>GCM_SENDER_ID</key>
	<string>555570638780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sebastain-Rodriguez.Nerld</string>
	<key>PROJECT_ID</key>
	<string>codingiscool-a5232</string>
	<key>STORAGE_BUCKET</key>
	<string>codingiscool-a5232.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555570638780:ios:55039b309f12e38ac905b9</string>
</dict>
</plist>